<!DOCTYPE html>
<html>
  <head>
    <title>Rabbit Nutrition Handbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #34D399;">
      <div class="container row row-cols-4">
        <span class="navbar-brand fs-1">Rabbit Nutrition Handbook</span>
        <div></div>
        <div></div>
        <form class="w-100" style="max-width: 575px;">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </nav>
    <div class="text-center px-4 my-5">
      <%= yield %>
    </div>
  </body>
</html>
